{% extends 'base.html.twig' %}

{% block title %}Texte legal : Cookies{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    <a href="{{ url('legal') }}">Mentions Légale</a>

    <p>{{ content }}</p>
{% endblock %}